<!DOCTYPE html>
{% extends "base.html" %}
{% block page_title %}Setting New password | Rugby Shop{% endblock %}

{% block page_heading %}
<div class="row justify-content-center">
	<div class="col-12 col-md-6">
		<!-- Page Headline, so the user knows which page they are on -->
		<h2 class="text-white text-center mb-3 mt-3">Set the new password</h2>
	</div>
</div>
{% endblock %}


{% block content %}
{% if validlink %}
<p class="text-center text-white mt-3 mb-4 lead">Please enter your new password twice.<br />
           So we can verify that you typed it in correctly.</p>
	<form action="" method="post" class="accountform ml-3">
		<div style="display:none">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
			<table class="text-white">
				<tr>
					<td>{{ form.new_password1.errors }}
						<label for="id_new_password1">New password:</label></td>
					<td>{{ form.new_password1 }}</td>
				</tr>
				<tr>
					<td>{{ form.new_password2.errors }}
						<label for="id_new_password2">Confirm password:</label></td>
					<td>{{ form.new_password2 }}</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Change my password" /></td>
				</tr>
			</table>
	</form>
	{% else %}
	<h1 class="lead text-white text-center mt-3">Password reset was unsuccessful</h1>
	<p class="text-white text-center">The password reset link was invalid, <br/> possibly because it has already been used.
		<br/>
        Please request a new password reset.
            </p>
		{% endif %}
		{% endblock %}