<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

<!-- Page title here -->
{% block page_title %}Product details | Rugby Shop{% endblock %}

{% block content %}

<div class="container footer-push-down">
	<div class="card pages-row">
		<div class="preview text-center">
			<div class="preview-pic tab-content col-12">
				<div class="tab-pane active" id="pic-1"><img src="{{ MEDIA_URL }}{{ product.image }}" /></div>
					<h3 class="product-header">{{ product }}</h3>
				</div>
			</div>
			<div class="row text-center col-12">
				<div class="col-6">
					<p class="product-full-description">{{ product.description }}</p>
					<h4 class="price">Price: <span> <i class="fas fa-euro-sign"></i> {{ product.price }}</span></h4>
					<h6>Was<strike>€85.00</strike></h6>
				</div>
				<div class="col-6 text-center">
					<div class="col-12 text-center">
						<label for="category">Choose A Size</label>

						<select id="sizes" name="jersey-size" class="custom-select">
                            <option disabled selected>Select a Size</option>
                            <option value="Size XS">Size XS</option>
                            <option value="Size S">Size S</option>
                            <option value="Size M">Size M</option>
                            <option value="Size L">Size L</option>
                            <option value="Size XL">Size XL</option>
                            <option value="Size XXL">Size XXL</option>
                            <option value="Size XXXL">Size XXXL</option>
                        </select>
					</div>
					<div class="col-12">
						<div class="action">
							<form method="post" action="{% url 'add_to_cart' product.id %}" data-add-basket-form>
								{% csrf_token %}
								<div class="col-12 m-3">
									<input name="quantity" type="number" min="1" max="{{ product.quantity }}" class="quantity-input" value="{{ request.session.cart }}" placeholder="Qty" aria-label="quantity">
                                </div>
									<div class="col-12 buttons-wrapper m-3">
										<button class="btn btn-success add-btn" type="submit">Add</button>
									</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row text-center col-12 m-4">
					<div class="col-6">
						<a href="{% url 'all_products' %}" class="btn-info btn btn-default" role="button"><span>Back
								Shoppping</span></a>
					</div>
					<div class="col-6"><a href="{% url 'checkout' %}" class="btn-info btn btn-default"
							role="button"><span>Checkout</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}