<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Subscription</title>
</head>

<body>
	<table role="presentation" cellpadding="0" cellspacing="0" class="body">
		<tr>
			<td>&nbsp;</td>
			<td class="container">
				<div class="content">

					<!-- START CENTERED WHITE CONTAINER -->
					<table role="presentation" class="main">

						<!-- START MAIN CONTENT AREA -->
						<tr>
							<td class="wrapper">
								<table role="presentation" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<p>Hi there,</p>
											<p>Thank you for subscribing to The Rugby Shop!.<br/>
                                                We look forward to send you our greates deals every month.
                                                Please enjoy shopping with The Rugby Shop
                                            </p>
												<table role="presentation" border="0" cellpadding="0" cellspacing="0"
													class="btn btn-primary">
													<tbody>
														<tr>
															<td align="left">
																<table role="presentation" border="0" cellpadding="0"
																	cellspacing="0">
																	<tbody>
																		<tr>
																			<td> <a href="#" target="_blank">Confirm
																					Subscription</a> </td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
												<p></p>
												<p>.</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>

						<!-- END MAIN CONTENT AREA -->
					</table>
					<!-- END CENTERED WHITE CONTAINER -->

					<!-- START FOOTER -->
					<div class="footer">
						<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td class="content-block">
									<span class="apple-link">Unit 20 Old Mill, Navan, Co. Meath.</span>
								</td>
							</tr>
							<tr>
								<td class="content-block powered-by">
									Powered by <a href="http://codeinstitute.net">CodeInstitude</a>.
								</td>
							</tr>
						</table>
					</div>
					<!-- END FOOTER -->

				</div>
			</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>

</html>