@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i&display=swap');

html, body {
  height: 100%;
  
  /* makes a smooth scroll (not supported in firefox and explorer) */
  scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
    padding-top: 55px; 
    display: flex;
    flex-direction: column;
    background-color: #a35b1e;
}


/*-------Navbar ------------------------------------------------------ */

nav a {
    color: #2d2323d9;
}

nav a:hover {
    color: white;
}

.navbar {
    background-color: #ec7211;
}

.navbar-brand {
    padding: 0;
}

/* -------- Label, badge for Cart in Navbar ---------*/

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #07ff8a;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #07ff8a;
}

/*--------- Background image ---------------------------------------------*/

.bg_image {
    background: url("/static/img/background2.jpg") no-repeat center center fixed;
    background-color: #f5f6fa;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    margin: auto;
    z-index: 1;
    padding: 0px;
    overflow: hidden;
    flex: 1 0 auto;
        
}

/*--------- Jumbotron --------- */

.jumbotron {
    background-color: transparent;
    padding: 0px;
    margin-top: 30px;
}

.jumbotron-text {
    color: #fffdf9;
}

/*----- Background Image overlay ----- */

.opaque-overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/*-----images for featured products row-----*/

.bg_images_featured {
    background-size: cover;
    width: 100%;
    margin: auto;
    z-index: -1;
    padding: 0px;
}

/*----column Content for the featured products carousel----*/

.content_imgs_featured {
    padding: 30px 20px 40px 20px;
    margin: auto;
    background-color: #adb5bd;
}

.carousel-inner img {
    margin: auto;
  } 

.carousel-indicators {
    position: relative;
}

.carousel-item img {
    width: 100%;
}

/*---------- About Us section ----------------------------------------- */
 .about_section {
    padding: 20px 55px;
} 

.about_me {
    color: #1a251a;
    background-color: #f8f9fa;
}

.owner-img {
    padding-top: 20px;
    padding-bottom: 20px;
}
}

/*---------- Register and Login forms -----------------------------------*/
.accountform {
    padding-top: 20px;
    padding-bottom: 30px;
}

.log-in {
    margin-top: 3rem;
}

/*------------Shop page content----------------------------------------- */


/*--- Search btn ----*/
.search_btn {
    font-size: 15px;
}

caption p {
    word-wrap: break-word;
}

.products_row {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    align-content: center;
    /* height: 60%; */
}

.product-post {
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 46px;
}

.panel-default {
    border-color: transparent;
    padding: 15px;
    margin: 15px;
    background-color: white;
    margin-bottom: 50px;
}

.panel_default {
    margin-bottom: 35px;
}

/*----------------------- The product image -----------------------*/
.product {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;
    transition: transform .2s;
}
.product:hover {
    transform: scale(1.5);
}


.products_card {
    border: 1px solid #ddd;
    min-width: 310px;
    max-width: 315px;
    min-height: 455px;
    max-height: 470px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}

.input-group {
        margin-top: 20px;
}

.products_heading {
    padding-top: 70px;
}


.product-description {
    min-height: 40px;
}

.product-header {
    color: #060707;
    margin: 20px;
}

/* .product-header a:hover {
    text-decoration: none;
}

.products_card a:hover {
    text-decoration: none; */
}

.product-info {
    margin-top: 30px;
    margin-bottom: 40px;
}

/*---------- Contact form ----------------------------------------------*/

.contact_btn {
    margin-bottom: 15px;
}

/*---------- Return Policy ----------------------------------------------*/

.policy-wrapper {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}


/*---------- Subscription Form ----------------------------------------------*/

.subscribe {
    color: #171732;
    background: #fff7f0;
    margin-top: 5px;
}

.newsletter-row {
    display: flex;
    flex-direction: column;
    
}
.newsletter-form {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#newsletter-validate-detail > button {
    margin-top: 2.25rem;
    margin-left: 0 !important;
    width: 260px !important;
}

/* --------------------Footer------------------------- */

.navLeftFooter {
    background-color: #35dcc5;
    padding: 2px;
    margin: 3px;
    width: 100%;
    height: inherit;
}

.navFooterBackToTop {
    color: #110b01;
    text-decoration: none;
    font-family: inherit;
}

.page-footer {
  font-size: 1 rem;
  padding: 1rem 0;
}


footer {
    padding-top: 2rem;
    position: relative;
    background-color: #ec7211;
}

footer a {
    text-decoration: none;
    color: rgb(224, 215, 215);
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color:  #833AB4;
}

.fa-github-square:hover {
    color: 	#000000;
}

.fa-linkedin:hover {
    color: #1815b9;
}

.fa-laptop:hover {
    color: #e54725;
}

.fa-aws:hover {
    color: #ec7211;
}

.fa-youtube:hover {
    color: red;
}

.btn-light {
    color: #7a974b;
    background-color: #f8f9fa;
    border-color: #212529;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    letter-spacing: 1px;
}

.btn-info {
    letter-spacing: 3px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #2a271e;
    border-radius: 3rem;
}

.newsletter-row #newsletter {
    letter-spacing: 2px;
    text-align: center;
    border-radius: 9px;
    width: 287px;
}
