<!DOCTYPE html>
{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap_tags %}

<!-- Page title here -->
{% block page_title %}Home Page | Rugby Shop{% endblock %}

<!-- Page heading -->
{% block page_heading %}
<div class="row">
	<div class="col-12 text-center">
		<!-- Page Headline-->
		<br>
		<div class="jumbotron text-white">
			<h1 class="display-4 text-white">Welcome to <br>Rugby Shop</h1>
				<p class="lead text-white">Check out our wide range of products and find something for yourself!
				</p>
				<p>Curious about our products<br>Well, have a look here!</p>
					<p class="lead">
						<br>
						<a class="btn btn-info text-white" href="{% url 'all_products' %}" role="button">Browse
							products</a>
					</p>
		</div>
	</div>
</div>
{% endblock %}

<!-- Featured Products carousel -->
{% block featured_products %}
<div class="row justify-content-center bg_images_featured">
	<div class="col-12 col-md-6 text-center content_imgs_featured">
		<br>
		<h2>New Collections</h2>
		<br>
		<!--Carousel Wrapper-->
		<div id="featuredProductsCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<!--Indicators-->
			<ol class="carousel-indicators">
				<li data-target="#featuredProductsCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#featuredProductsCarousel" data-slide-to="1"></li>
				<li data-target="#featuredProductsCarousel" data-slide-to="2"></li>
			</ol>
			<!--/.Indicators-->
			<!--Slides-->
			<div class="carousel-inner" role="listbox">
				<!--First slide-->
				<div class="carousel-item active">
					<img class="d-block w-50" src="{% static 'img/new-balls1.jpg' %}" alt="First slide">
             </div>
					<!--/First slide-->
					<!--Second slide-->
					<div class="carousel-item">
						<img class="d-block w-50" src="{% static 'img/new-footwear1.jpg' %}" alt="Second slide">
                 </div>
						<!--/Second slide-->
						<!--Third slide-->
						<div class="carousel-item">
							<img class="d-block w-50" src="{% static 'img/newjersey1.jpg' %}" alt="Third slide">
                </div>
							<!--/Third slide-->
						</div>
						<!--/.Slides-->
						<!--Controls-->
						<a class="carousel-control-prev" href="#featuredProductsCarousel" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#featuredProductsCarousel" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<!--/.Carousel Wrapper-->
				{% endblock %}

				<!-- About Me Content -->
				{% block about_content %}
				<div class="navLeftFooter text-center" id="nav-Footer">
					<a href="#" id="navBack-ToTop">
						<div class="navFooterBackToTop"><span class="navFooterBackToTopText"></span>
						</div>
					</a>
				</div>
				<div class="row justify-content-center about_me" id="about">
					<div class="col-12 about_section">
						<br>
						<h2 class="text-center">About Us</h2>
						<br>
						<p class="text-center" style="margin-top: 1rem;">Rugby Shop was established in 1999 and is the
							oldest rugby
							store in Ireland. Following a
							take over by Staunton Sports in 1998, Rugby Shop have expanded from a single store operation
							to fifty
							four stores nationwide. This coming together brought a wealth of experience and in-depth
							knowledge of the
							sports retail business that is reflected in our shops today. Today, we employ over 100
							hundred people and
							are proud to be wholly Irish owned.</p>
						<p>
							We cater for both the casual sporting community and top sports athletes. Our business has
							been built on a high level of customer service, quality sports goods, reliability and above
							all instilling confidence in the public that Rugby Shop is the retail store for those
							interested in sport.</p>
						<p>
							As well as stocking the top brand names in sportswear, Rugby Shop also offer a vast range of
							own brand clothing, accessories and equipment, offering customers great value and top
							quality.
						</p>
						<p>We aspire to be a leading sports and lifestyle retailer internationally and to deliver
							sustainable growth for our shareholders in the medium to long term by offering our
							customers an unrivalled range of high quality leading brands.</p>
						<p>The Group’s strategy is to invest in our people and our key third party brand partners in
							order to elevate our retail proposition to attain new levels of excellence across our
							multi-brand, multi-channel offering to customer</p>
						<p>The Group provides a full multi-channel retail approach across its fascias in the UK, and
							increasingly across its fascias in continental Europe and elsewhere. The Group also
							wholesales and licenses its Group Brands to partners in the UK, continental Europe, the
							Americas, and the Far East.</p>
					</div>
				</div>
				<div class="row justify-content-center about_me" id="about about-img">
					<div class="col-12 about_section text-center">
						<h5 class="text-center">This is how we start</h5>
						<div class="row">
							<div class="col">
								<img class="img-fluid" src="{% static 'img/Opening_photo1.jpg' %}" alt="About the owner image">
							</div>
								<div class="col">
									<img class="img-fluid" src="{% static 'img/opening2.jpg' %}" alt="About the owner image">
							</div>
									<div class="col">
										<img class="img-fluid" src="{% static 'img/Opening3a.jpg' %}" alt="About the owner image">
							</div>
									</div>
								</div>
							</div>
							{% endblock %}
						</div>
						{% block back_content %}
						<div class="navLeftFooter text-center" id="navFooter">
							<a href="{% url 'index' %}" id="navBackToTop">
								<div class="navFooterBackToTop"><span class="navFooterBackToTopText">Back to top</span>
								</div>
							</a>
						</div>

						<div class="container subscribe">
							<!-- <div class="signup-wrapper">
								<div class="signupInner">
									<h3 class="text-center">JOIN US FOR EXCLUSIVE OFFERS!
									</h3>
									<div class="row signup-email">
										<div class="col-xs-12 col-sm-3 join-us-text">
											<label class="SubTitle" for="signupEmail">Email Sign Up</label>
										</div>
										<div class="col-xs-12 col-sm-6 NewsletterPadding">
											{% csrf_token %}
											<input name="email" type="email" id="newsletter" class="newsletter-input" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}">
                                        </div>
											<div class="col-xs-12 col-sm-3 sub-buttons">
												<input id="enterNewsLetter" class="signbut" value="SIGN UP NOW" type="button" />
                                            </div>
												<div class="col-xs-12 disclaimerText text-center">
													<p>By signing up you are confirming that you have read, understood
														and accept our <a href="{% url 'terms-conditions' %}">Privacy
															Policy</a></p>
												</div>
											</div>
										</div>
									</div>
									<script type="text/javascript">
										$(document).ready(function () {
                                    window.SetupMailSubscription('#enterNewsLetter', 'rathernotsay', "Sportsdirect.htm");
                                });
									</script> -->
							<section class="newsletter-row">
								<h3 class="text-center" style="margin-top: 15px;">JOIN US FOR EXCLUSIVE OFFERS!</h3>
								<p class="text-center">By signing up you are confirming that you have read, understood
									and
									accept
									our Privacy
									Policy
								</p>

								<form class="newsletter-form text-center" novalidate="novalidate" method="post"
									id="newsletter-validate-detail">
									{% csrf_token %}
									<input name="email" type="email" id="newsletter" class="newsletter-input" placeholder="Enter your email address" data-validate="{required:true, 'validate-email':true}">
									<button class="btn-info" title="Subscribe" type="submit"><span class="text-uppercase">Subscribe</span></button>
								</form>
							</section>
						</div>
						{% endblock %}